<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itamgames.gametestapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".main"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/app_name">

        </activity>

        <activity
            android:name=".TestStore"
            android:label="@string/app_name">
        </activity>

        <!--<activity-->
            <!--android:name=".videoact"-->
            <!--android:label="@string/app_name">-->


        <!--</activity>-->

        <receiver android:name="com.itamgames.gametestapp.ItamappReceiver" >
            <intent-filter>
                <action android:name="com.itamgames.itamapp.signdata.response"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <meta-data android:name="itamnetworkkey" android:value="@string/ikeystring" />
    </application>



</manifest>
